* {
    color:white;
    scroll-behavior: smooth;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{ 
background: darkgreen;
}
.trans--grow{
    transition: all 1s ease-out;
    width: 0;
}
.grow{
    width: 100%;
}
.hr1{
    margin-left: 0;
}
.hr2{
    margin-right: 0;
}
hr{
    margin-top: 20px;
    padding: 2px 0px;
    border: none;
    background-color: #fcf800;
}
.aion{
    display:flex;
}

img{
    height: auto;
    border-radius: 2%;
}
#fun1,#fun2,#fun3{
    padding:30px;
    flex-direction: row;
}

#cool{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
#dumb li{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    line-height: 50px;
}

.supreme{
    padding:30px;
}
.supreme tr td{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
    font-size: 20px;
}
.contents li{
    line-height: 40px;
    list-style-position: inside; 
}
#temp{
    text-align: right;
}
#li1,#li2{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    line-height: 50px;
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
    *{
        box-sizing: border-box;
        overflow-x: hidden;
    }
    img{
        height: auto;
    }
    html, body {
        max-width: 100%;
    }
    #dumb li{
       font-size: 13px;
       line-height: 30px;
   }
   #li1,#li2{
       font-size: 16px;
       line-height: 30px;
   }
    #cool{
        font-size: 20px;
    }
    .aion{
        flex-direction: column;
    }
    #fun1,#fun2,#fun3{
        width: auto;
    }
    .supreme tr td{
        font-size: 12px;
    }
    .contents li{
        font-size: 12px;
        line-height: 30px;
        list-style-position: inside;
    }
  }